{% extends "./base.html" %}
{% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
<div class="container-fluid my-carousel">

    <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'image/1.jpg' %}"  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/2.jpg' %}"  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'image/3.jpg' %}"  class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>
Similar posts:<br>
{% for similar_post in similar_posts %}

<br>

<a href="{{ similar_post.get_absolute_url }}">
        {{ similar_post.title }}
    </a>

{% endfor %}<br><br>
{% with comments.count as total_comments %}
<h2>{{ total_comments }} comment {{ total_comments|pluralize }}</h2>
{% endwith %}
{% for comment in comments %}
      <div class="comment">
      <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
      </p>
      {{ comment.body|linebreaks }}
      </div>
      {% empty %}
      <p>There are no comments yet.</p>
      {% endfor %}

      {% if new_comment %}
      <h2>Your comment has been added.</h2>
      {% else %}
      <h2>Add a new comment</h2>
      <form action="." method="post">
      {{ comment_form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Add comment"></p>
      </form>
      {% endif %}

<section class="main-content">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 col-sm-6 mb-2">
        <div class="product-card" height="400px">
          <div class="product-thumb">
            <a href="#"><img src="{% static 'image/3.jpg' %}" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">iPhone</a></h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, blanditiis.</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>$230.99</small> $99
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-2">
        <div class="product-card" height="400px">
          <div class="product-thumb">
            <a href="#"><img src="{% static 'image/1.jpg' %}" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">iPhone</a></h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, blanditiis.</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>$230.99</small> $99
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-sm-6 mb-2">
        <div class="product-card" height="400px">
          <div class="product-thumb">
            <a href="#"><img src="{% static 'image/2.jpg' %}" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">iPhone</a></h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, blanditiis.</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>$230.99</small> $99
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-2">
        <div class="product-card" height="400px">
          <div class="product-thumb">
            <a href="#"><img src="{% static 'image/3.jpg' %}" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">iPhone</a></h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, blanditiis.</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>$230.99</small> $99
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-6 mb-2">
        <div class="product-card" height="400px">
          <div class="product-thumb">
            <a href="#"><img src="{% static 'image/2.jpg' %}" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">iPhone</a></h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, blanditiis.</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>$230.99</small> $99
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-lg-4 col-sm-6 mb-2">
        <div class="product-card" height="400px">
          <div class="product-thumb">
            <a href="#"><img src="{% static 'image/1.jpg' %}" alt=""></a>
          </div>
          <div class="product-details">
            <h4><a href="#">iPhone</a></h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, blanditiis.</p>
            <div class="product-bottom-details d-flex justify-content-between">
              <div class="product-price">
                <small>$230.99</small> $99
              </div>
              <div class="product-links">
                <a href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                <a href="#"><i class="fa-solid fa-heart"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- <div class="container">
    <div class="row">
        <h1>{{ post.title }}</h1>
        <div class="col"><p class="date">Published {{ post.publish }}</p></div>
        <div class="col">{{ post.author }}</div>
        <div class="col">{{ post.body|linebreaks }}</div>
    </div>
</div> -->
{% endblock %}