<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <div class="container">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              {% if pages.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1">first</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ pages.previous_page_number }}">Previous</a></li>
              {% endif %}
              {% for page in pages.paginator.page_range %}
              {% if pages.number == page %}
              <li class="page-item active"><a class="page-link">{{ page }}</a></li>
              {% elif page >= pages.number|add:-2 and page <= pages.number|add:2 %}
              <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
              {% endif %}


              {% endfor %}


              {% if pages.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ pages.next_page_number }}">Next</a></li>
              <li class="page-item"><a class="page-link" href="?page={{ pages.paginator.num_pages }}">last</a></li>

              {% endif %}
              {% if pages.paginator.num_pages == page %}
              <li class="page-item"><a class="page-link" href="?page={{ pages.paginator.num_pages }}">page</a></li>
              {% endif %}
            </ul>
          </nav>



    </div>

</body>

</html>